<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function() {

data_existing = {{ existing_list | tojson }}

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Existing Skills"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: data_existing
	}]
});
chart.render();

data_desired = {{ desired_list | tojson }}

var chart2 = new CanvasJS.Chart("chartContainerDesired", {
	animationEnabled: true,
	title: {
		text: "Desired Skills"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: data_desired
	}]
});
chart2.render();

data_number = {{ student_count | tojson }}

var graph = new CanvasJS.Chart("graphContainer", {
	animationEnabled: true,

	title:{
		text:"Student Registration"
	},
	axisX:{
	    interlacedColor: "rgba(1,77,101,.2)",
		gridColor: "rgba(1,77,101,.1)",
	},
	axisY2:{
		interval: 1,
		title: "Number of Students"
	},
	data: [{
		type: "bar",
		name: "companies",
		axisYType: "secondary",
		color: "#014D65",
		dataPoints: [{"y": data_number, "label": "Student"}]
	}]
});
graph.render();

}
</script>
<style>
    body {
        background: url('https://www.wallpaperflare.com/static/582/685/193/harry-potter-and-the-sorcerer-s-stone-literature-quote-boy-wallpaper.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }
</style>
</head>
<body>
<div id="chartContainer" style="height: 250px; width: 50%; margin-left: 25%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div id="chartContainerDesired" style="height: 250px; width: 50%; margin-left: 25%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div id="graphContainer" style="height: 250px; width: 50%; margin-left: 25%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>