<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function() {

data_existing = {{ existing_list | tojson }}

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Existing Skills"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: data_existing
	}]
});
chart.render();

data_desired = {{ desired_list | tojson }}

var chart2 = new CanvasJS.Chart("chartContainerDesired", {
	animationEnabled: true,
	title: {
		text: "Desired Skills"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: data_desired
	}]
});
chart2.render();

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div id="chartContainerDesired" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>