<body>
<br>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Existing Magic Skills</td>
            <td>Desired Magic Skills</td>
            <td>Courses</td>
            <td>Created Time</td>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{student["id"]}}</td>
            <td><a href="/students/{{student['id']}}">{{student["first_name"]}} {{student["last_name"]}}</a></td>
            <td>{{student["existing_magic_skills"]}}</td>
            <td>{{student["Desired Magic Skills"]}}</td>
            <td>{{student["Courses"]}}</td>
            <td>{{student["Created Time"]}}</td>
        </tr>
        {% endfor %}
    </table></br>
    <div><a href="students/add">ADD NEW STUDENT</a></div>


</body>