<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body id="mainScreen">
    <div>
        <ul id="info">
            <li class="attr">ID: {{student["id"]}}</li>
            <li class="attr">First Name: {{student["first_name"]}}</li>
            <li class="attr">Last Name: {{student["last_name"]}}</li>
            Existing Magic Skills:
            <ul>{% for magic in student["existing_magic_skills"] %}
                <li>{{ magic.skill}}, Level: {{ magic.level }}</li>
                {% endfor %}</ul>
            <td><ul>{% for want in student["desired_magic_skills"] %}
                <li>{{ want}}</li>
                {% endfor %}</ul></td>
            <li class="attr">Courses: {{student["courses"]}}</li>
            <li class="attr">Created Time: {{student["created_time"]}}</li>
            <li class="attr">Updated Time: {{student["updated_time"]}}</li>
        </ul>
    </div>

    <div><a href="/students/{{student['id']}}/edit">Edit</a></div></br>
    <a href = "/students">See All Students</a></br>
<!--    <div><a href="{{ url_for('delete_student') }}">Delete</a></div>-->

</body>